.card-title{
    color: aliceblue;
}
.text-success{
    color: #00A354;
}
.img-schadow{
    box-shadow: -webkit-box-shadow: 9px 7px 10px -1px rgba(0,0,0,0.76);
    -moz-box-shadow: 9px 7px 10px -1px rgba(0,0,0,0.76);
    box-shadow: 9px 7px 10px -1px rgba(0,0,0,0.76);;
}
.card :hover{
    transform: calc(1.5) ;
}
.p-border{
    border-bottom: solid 1px #00A354;
    margin-bottom: 20px;
}
.link-sty{
    text-decoration: black;
    font-weight: 700;
    color: black;
}
.orange-100{
    background-color: #ffb87d;
}
.end{
    background-color: rgb(36, 35, 38);
    color: aliceblue;
}
.a-text{
    text-decoration: rgb(255, 255, 255);
    font-weight: 700;
    color: rgb(255, 255, 255);

}
.link-style{
  color: black;
  text-decoration: black;
  font-weight: 500;
}
.col3-link{
  color: black;
  text-decoration: black;
  font-weight: 700;
}
.p-line{
  border-bottom: 2px black solid;
  padding-top: 70px;

}
.bg-color{
  background-color: #ffb87d;
}
.card-text{
  text-decoration: black;
  font-weight:700;
  color: black;
}
.fotter{
  background-color: #EAEEE8 ;
}
.col3-margin{
  margin-top: 20px;
}



/* .top-nav{
    float:right;
}
.text-p{border-bottom: solid #00A354;
    border-top: solid #00A354;
    }

.b-class{
    border-radius: 4px;
    background-color: #00A354;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font: bold;
    
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .b-class span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .b-class span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .b-class:hover span {
    padding-right: 25px;
  }
  
  .b-class:hover span:after {
    opacity: 1;
    right: 0;
  }

  .akt-h3{
    color: #00A354;
  }
  .akk-bor{
    border-bottom: solid #00A354;
  }
  .MV{
    border-bottom: solid #00A354  ;
    margin-bottom: 10px;
  } */

