.card-title{
    color: aliceblue;
}
.text-success{
    color: #00A354;
}
.img-schadow{
    box-shadow: -webkit-box-shadow: 9px 7px 10px -1px rgba(0,0,0,0.76);
    -moz-box-shadow: 9px 7px 10px -1px rgba(0,0,0,0.76);
    box-shadow: 9px 7px 10px -1px rgba(0,0,0,0.76);;
    
}
.img-schadow:hover{
    /* transform: translateY(-10px) ; */
  transform: scale(1.1);
  }
.p-border{
    border-bottom: solid 1px #00A354;
    margin-bottom: 20px;
}
.link-sty{
    text-decoration: black;
    font-weight: 700;
    color: black;
}
.orange-100{
    background-color: #ffb87d;
}
.end{
    background-color: rgb(36, 35, 38);
    color: aliceblue;
}
.a-text{
    text-decoration: rgb(255, 255, 255);
    font-weight: 700;
    color: rgb(255, 255, 255);

}
.link-style{
  color: black;
  text-decoration: black;
  font-weight: 500;
}
.col3-link{
  color: black;
  text-decoration: black;
  font-weight: 700;
}
.p-line{
  border-bottom: 2px black solid;
  padding-top: 70px;

}
.bg-color{
  background-color: #ffb87d;
}
.card-text{
  text-decoration: black;
  font-weight:700;
  color: black;
}
.fotter{
  background-color: #EAEEE8 ;
}
.col3-margin{
  margin-top: 20px;
}


