.background-h1{
   background-color: rgb(52,142,21);
background: linear-gradient(276deg, rgba(52,142,21,1) 7%, rgba(137,185,141,1) 100%, rgba(48,162,18,1) 100%);
}


.Über-uns{
    animation-name: Über;
    animation-duration: 2s;
}
@keyframes Über {
    0%{
        transform: translateX(100%);
    }
    100%{ 
        transform: translateX(0);
    }
}



.link-style{
    color: black;
    text-decoration: black;
    font-weight: 500;
}
.col3-link{
    color: black;
    text-decoration: black;
    font-weight: 700;
}
.p-line{
    border-bottom: 2px black solid;
    padding-top: 70px;

}
.bg-color{
    background-color: #ffb87d;
}
.card-text{
    text-decoration: black;
    font-weight:700;
    color: black;
}
.fotter{
    background-color: #EAEEE8 ;
}
.img-schadow{

}
.img-schadow:hover{
    /* transform: translateY(-10px) ; */
  transform: scale(1.1);
  }
  p .Email{
    text-decoration: none;
    color: black;
    font-weight: 700;
  }